<h1>Add Recipe</h1>

{% extends 'base.html' %}

{% block content %}

{% comment %} 
some of the form fields are hidden on page render. 
text boxes have to be manually sized for all fields and
submit button to show
{% endcomment %}

{% if request.user.is_staff %}
    <p>You are a staff user</p>
    {% else %}
    <p>You are not a staff member</p>
{% endif %}

<form action='/addrecipe/' method="post">
    {% csrf_token %}
    {{recipe_form.as_p}}
    <input type="submit" value="Submit!">
</form>

{% endblock %}