{% extends 'base.html' %}

{% block content %}



{% if request.user.is_staff %}
<h1>Add Author</h1>
<form action='/addauthor/' method="post">
    {% csrf_token %}
    {{ author_form.as_p }}
    <input type="submit" value="Submit!">
</form>

{% else %}

{% if messages %}
<ul style="list-style: none; color: white; font-size: 25px; margin-top: 20px;">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}


{% endif %}


{% endblock %}