{% extends 'base.html' %}


{% block content %}
<html lang="en">
    <head>
      <meta charset="utf-8">
      <title>
        {% block title %}
        {{ page_title|default:"Untitled Page" }}        
        {% endblock title %}      
    </title>
   </head>

<body>
<div class="notebook-container">
<h1>Welcome to Recipe Box</h1>
<h4>{% if user.is_authenticated %} Hello, {{ user.username}}!{% endif %}</h4>

  <h3>Recipe Title List</h3>
  {% for recipe in recipes%}

  <ul style="list-style: none;">
    <div class="recipe-list"><li><a style="color:#F4F2F5;" href="/recipe/{{recipe.id}}/">{{recipe.title}}<a></li></div>
  </ul>

  {% endfor %}


</div>
{% if user.is_authenticated%}
    <div class="btn-container">
      <button type="button" class="btn btn-default">
        <a href="/addrecipe/{{recipe_form}}">Add Recipe</a>
      </button>

      <button type="button" class="btn btn-default">
        <a href="/addauthor/{{author_form}}">Add Author</a>
      </button>

      <button type="button" class="btn btn-default">
        <a href="/logout/">Logout</a>
      </button>
    {% else %}

    <div class="btn-container">
      <button type="button" class="btn btn-default">
        <a href="/addrecipe/{{recipe_form}}">Add Recipe</a>
      </button>

      <button type="button" class="btn btn-default">
        <a href="/addauthor/{{author_form}}">Add Author</a>
      </button>

      <button type="button" class="btn btn-default">
        <a href="/signup/">Signup</a>
      </button>
  {% endif %}
</div>

</div>
</body>
{% endblock %}
</html>
