{% extends "index.html"%}

{% block content %}

<h2>Sign-up Page</h2>

<div class="form-box">
    <form action='' method="post">
        {% csrf_token %}
         {% if request.user.is_staff %}
        <table>
            <tr>
                <td>{{ form.username.label_tag }}</td>
                <td>{{ form.username }}</td>
            </tr>
            <tr>
                <td>{{ form.password.label_tag }}</td>
                <td>{{ form.password }}</td>
            </tr> 
        </table>
                {{ author_form.as_p }}
   
    
    {% endif %}
</form>
        <input type="hidden" name="next" value="{{ request.GET.next }}" />
        <input type="submit" value="Sign up" />
    </form>
</div>

{% endblock %}